 body{
    font-family: 'Poppins', sans-serif; 
 }
h1{
     font-size: 50px;
 }
 .orange{
  color: orange;   
 }
 .link{
    text-decoration:none ;
    background-image:linear-gradient(orange,tomato);
    padding:10px 40px;
    border-radius:15px ;
    color:white;
    font-width:700 ;
 }
.web-developer{
display: flex;
}

.network{
width: 40%;
padding-left: 30px;
}


.image{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
     
}
.network img{
    width:70%;
    
}
    
